In [62]:
import numpy as np
import pandas as pd
import datetime

### NumPy's datetime64 and timedelta64 objects

https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html

The data type is called “datetime64”, because “datetime” is already taken by the datetime library in Python.

In [63]:
# Create by using an integer with a string for the units. It gets converted to that many units after the UNIX epoch

np.datetime64(5, 'ns')

numpy.datetime64('1970-01-01T00:00:00.000000005')

In [64]:
#You can also use strings as long as they are in ISO 8601 format.
np.datetime64('2019-10-22T18:25:04')

numpy.datetime64('2019-10-22T18:25:04')

In [65]:
#Timedeltas have a single unit

print(np.timedelta64(8, 'D')) # 8 days
print(np.timedelta64(6, 'h')) #6 hours

8 days
6 hours

In [66]:
# Can also create them by subtracting two datetime64 objects

np.datetime64('2019-10-24T05:30:45.67') - np.datetime64('2019-10-22T12:35:40.123')

numpy.timedelta64(147305547,'ms')

### pandas Timestamp and datetime64

A pandas Timestamp is a moment in time similar to a pyton datetime, but has more functionality.

There are two ways to create them - pd.Timestamp or pd.to_datetime.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

#### pd.Timestamp

In [67]:
pd.Timestamp(1239.1238934) #defautls to nanoseconds

Timestamp('1970-01-01 00:00:00.000001239')

In [68]:
pd.Timestamp(1239.1238934, unit='D') # change units

Timestamp('1973-05-24 02:58:24.389760')

In [69]:
pd.Timestamp('2019-10-22 05') # partial strings work

Timestamp('2019-10-22 05:00:00')

#### pd.to_datetime

In [70]:
# create a timestamp
pd.to_datetime('2019-10-22 05')

Timestamp('2019-10-22 05:00:00')

In [71]:
#convert a list of strings into Timestamps.

pd.to_datetime(['2019-10-01', '2019-10-05'])

DatetimeIndex(['2019-10-01', '2019-10-05'], dtype='datetime64[ns]', freq=None)

### Converting a date string from a file to datetime object

In [72]:
url = 'http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv'
sample_data = pd.read_csv(url)
sample_data.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [73]:
sample_data.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [74]:
# convert the sale_date column to datatime format

sample_data['sale_date'] = pd.to_datetime(sample_data.sale_date)
sample_data.dtypes

C:\Users\siyer\Miniconda3\envs\myenv\lib\site-packages\dateutil\parser\_parser.py:1206: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

street               object
city                 object
zip                   int64
state                object
beds                  int64
baths                 int64
sq__ft                int64
type                 object
sale_date    datetime64[ns]
price                 int64
latitude            float64
longitude           float64
dtype: object

In [75]:
sample_data.sale_date.dt.day.head()

0    21
1    21
2    21
3    21
4    21
Name: sale_date, dtype: int64

###  Python's datetime & numpy's datetime64/timedelta64 & pandas Timestamp/datetime64
Numpy doesn't have a separate date and time object

The datetime module's datetime object has microsecond precision (one-millionth of a second).

NumPy's datetime64 object allows you to set its precision from hours all the way to attoseconds (10 ^ -18).

#### Converting Python datetime to Numpy datetime64 and Pandas Timestamp

In [76]:
dt = datetime.datetime(year=2017, month=10, day=24, hour=4, 
                   minute=3, second=10, microsecond=7100)

In [77]:
np.datetime64(dt)

numpy.datetime64('2017-10-24T04:03:10.007100')

In [78]:
pd.Timestamp(dt)

Timestamp('2017-10-24 04:03:10.007100')

#### Converting numpy datetime64 to python datetime and Pandas Timestamp

In [79]:
dt64 = np.datetime64('2019-10-22 05:34:20.123456')
unix_epoch = np.datetime64(0, 's')
one_second = np.timedelta64(1, 's')
seconds_since_epoch = (dt64 - unix_epoch) / one_second
seconds_since_epoch

1571722460.123456

In [80]:
#Converting numpy datetime64 to python datetime 
datetime.datetime.utcfromtimestamp(seconds_since_epoch)

datetime.datetime(2019, 10, 22, 5, 34, 20, 123456)

In [81]:
#Convert numpy datetime64 to pandas Timestamp

pd.Timestamp(dt64)

Timestamp('2019-10-22 05:34:20.123456')

#### Convert from Timestamp to datetime and datetime64

In [82]:

ts = pd.Timestamp('2019-10-22 04:24:33.654321')
ts

Timestamp('2019-10-22 04:24:33.654321')

In [83]:
ts.to_pydatetime()   # Python's datetime

datetime.datetime(2019, 10, 22, 4, 24, 33, 654321)

In [84]:
ts.to_datetime64()

numpy.datetime64('2019-10-22T04:24:33.654321000')